CSS:
/*
 * CSS Stylesheet for symfony-community Blog
 */
body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	font-size: 14px;
}
h1 {
	font-family: "Monotype Corsiva", sans-serif;
	font-size: 35px;
}
a {
	text-decoration: none;
	color: #ed8515;
}
a:hover {
	color: #eda989;
}
p.footer {
	font-size: 12px;
	color: #999;
}